*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Roboto;
}
header{
    width: 100%;
    height: 1100px;
    background-image: url("https://assetsio.gnwcdn.com/counter-strike-2_9KYa6NU.jpg?width=1200&height=1200&fit=bounds&quality=70&format=jpg&auto=webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.container{
    width: 95%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-top: 30px;
}
.play{
    width: 243px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 159, 245, 0.71);
    display: flex;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(218, 211, 255, 1);
}
.block1{
    display: flex;
    gap: 55px;
    justify-content: space-around;
    align-items: center;
    
}
.play .h2{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}
.h3{
    font-size: 20px;
    font-weight: 600;
    color: rgba(213, 213, 214, 1);
    
}
.h4{
    font-size: 20px;
    font-weight: 700;
    color: rgba(213, 213, 214, 1);
    line-height: 23.44px;
    font-family: Roboto;
}
.player{
    width: 604px;
    height: 103px;
    border: 11px solid rgba(90, 85, 85, 1);
    border-radius: 55px;
    background-color: rgba(255, 198, 17, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 249px;
    margin-left: 330px;
}
.ht{
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    text-shadow: 0px 4px 4px rgba(0, 71, 255, 1);
    
}
.simple{
    width: 361px;
    height: 420px;
    background-color: rgba(31, 31, 31, 1);
    box-shadow: 8px 7px 20px 0px rgba(255, 255, 255, 1);
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}
.h5{
    margin-top: 15px;
    color: rgba(0, 0, 0, 1);
    text-shadow: 0px 4px 4px rgba(255, 194, 0, 1);
    font-family: Roboto;
}
.costainer{
    width: 95%;
    margin: auto;
    align-items: center;
    display: flex;
    padding-top: 30px;
    gap: 70px;
    margin-top: 132px;
}
.zywoo{
    width: 361px;
    height: 420px;
    background-color: rgba(31, 31, 31, 1);
    box-shadow: 8px 7px 20px 0px rgba(255, 255, 255, 1);
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}
.niko{
    width: 361px;
    height: 420px;
    background-color: rgba(31, 31, 31, 1);
    box-shadow: 8px 7px 20px 0px rgba(255, 255, 255, 1);
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}
.h6{
    font-size: 64px;
    line-height: 75px;
    font-weight: 600;
    font-family: Roboto;
    color: rgba(90, 85, 85, 1);
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 1);
    text-align: center;
}
.hero{
    background-color: black;
    height: 850px;
}
.p1{
    font-size: 27px;
    font-weight: 700;
    line-height: 31.64px;
    color: rgba(255, 255, 255, 1);
}
.coltainer{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    gap: 87px;
    margin-top: 55px;
    
}
.read{
    width: 278px;
    height: 61px;
    background-color: rgba(83, 83, 83, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.h7{
    font-size: 27px;
    font-weight: 700;
    line-height: 31.64px;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
}
.read:hover{
    box-shadow: 0px 7px 12.8px 0px rgba(255, 255, 255, 1);
}
.ikinchisi{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    gap: 87px;
    margin-top: 55px;
}
.readmore{
    width: 271px;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: rgba(255, 194, 0, 1);
}
.h8{
    font-size: 27px;
    font-weight: 700;
    line-height: 31.64px;
    color: rgba(0, 0, 0, 1);
    text-shadow: 0px 4px 4px rgba(4, 4, 4, 0.81);
}
.readmore:hover{
    box-shadow: 0px 7px 12.8px 0px rgba(255, 255, 255, 1);
}
footer{
    height: 100px;
    background-color: rgba(255, 198, 17, 1);
    
}
.footercontainer{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
}
.logolar2{
    display: flex;
    gap: 42.5px;
}